// Vendor
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

// App
@import "products";

// Global
body {
  padding-top: 30px;
  padding-bottom: 30px;
}

.current-user {
  color: #999;
  padding: 15px 15px;
}

.alert {
  margin-top: 40px;
  margin-bottom: 0;
}